# Rust
/target

# Local script folders
_*/

# Editors
.vscode
.cursor

# Folder config files
.directory
.DS_Store
[Dd]esktop.ini

# Temp files
*~
._*

# Rustfmt
**/*.rs.bk

# Zydeco build files
/build
